.right-text{
    max-width: 776px;
}
.contact-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.none-title {
    display: none !important;
}

.contact-us img {
    max-width: 477px;
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
section {
    padding: 50px 0;
}
@media (max-width: 380px) {
    .yoq_item {
        display: none;
    }
    .bor_item {
        display: block !important;
    }
    .block-title{
        display: none !important;
    }
    .none-title {
        display: block !important;
    }
    .flex-input > button {
        display: block !important;
    }
    c
}
